<h1>New pile</h1>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <input type="reset" value="Reset &#187;" class="primary" />
  <%= submit_tag "Create" %>
<% end %>


<%= link_to '<img src="/images/icons/back.png" width="35" height="35" alt="Back" class="img" />', :controller => "categories", :action => 'show', :id => session[:cat] %>
