h1 {
     font-size:16px;
}
div.header {
     font-size:18px;
     background-color: #99cc00;
}

#page {        
        width: 240px;
        margin: 0px;
        padding: 0px
      }
back{
     font-size:16px;
}
div.list {
    width: 240px;
}

#main ul {
    list-style: none;
    margin: 10px;
    padding: 0;    
}
#main ul li a {
    display: block;
    margin: -8px 0 -8px -10px;
    padding: 8px 32px 8px 10px;
    text-decoration: none;
    color: inherit;
    background: url(/images/iui/listArrow.png) no-repeat right center;
    border-bottom: 1px solid;
    border-bottom-color: black;    
}
#main h1 a {
    text-shadow: 0px 1px 0px #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999));
}

#main ul li:first-child a {
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
}
#main ul li:last-child a {
    -webkit-border-bottom-left-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
}

#main .learnanwser {
            color: black;
            cursor: pointer;
            border: 1px solid lightgray;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border: 1px solid #000;
            background-color: #F8F8FF;
            padding: 3px;
            overflow: auto;
            font-size: 12px;
        }

#main .learnhead {
            text-align: center;
            color: black;
            border: 1px solid lightgray;
            -moz-border-radius: 3px;
            -webkit-border-radius: 3px;
            border: 1px solid #000;
            background-color: #F8F8FF;
            padding: 1px;
        }

#main .next {
    text-align: left;
    font-size: 12px;
    font-weight: bold
}

#main .previous {
    text-align: right;
    font-size: 12px;
    font-weight: bold
}

#main .questionnumber {
    text-align: center;
    font-size: 12px;
}

#main .text {
    font-size: 12px;
}