<%= error_messages_for 'categories_type' %>

<!--[form:categories_type]-->
<p><label for="categories_type_category_type">Category type</label><br/>
<%= text_field 'categories_type', 'category_type'  %></p>
<!--[eoform:categories_type]-->

