<b>Who is behind ReCALL?</b><br />
ReCall is created by Svend Gundestrup.<br />
<br />
<b>Who is ReCALL ment for?</b><br />
ReCall is created to be used as a learning tool, for all medical students.<br />
<br />
<b>ReCALL programming language?</b><br />
ReCall is programmed in Ruby, using the Rails framework. <br />
<br />
<b>ReCALL developmen platform?</b><br />
<a href="http://www.jetbrains.com/idea/index.html"><img src="/images/logo_intellij_idea.gif" alt="IDEA" width="300"/></a><br />
<br />
<b>ReCALL development status?</b><br />
ReCALL, is STILL is under development, and we take no responsiability,<br />
for loss of data, or acounts, or missing an exam, because your account, cards, piles<br />
or anything else for that matter is missing, deleted.<br />
<br />
    <b>Privacy?</b><br/>
ReCALL will never distribute / release any user information.<br />
But all cards and piles are public, and will remain public.<br />
<br />
    <b>Copyright</b><br />
Any information interes as cards for piles, is owned by Svend Gundestrup, and may not,<br />
without any priviours permissing be copied.<br/>
<br />

    <b>ReCALL is supported by</b><br/>
<table>
    <tr>
        <td>
                Server and development<br/>
            <a href="http://www.borg-collective.eu"><img src="http://www.borg-collective.eu/templates/tbc_officestyle_lite/images/logo.png" width="200" alt="Borg-Collective" class="img" /></a><br/>

        </td>
        <td rowspan="2">
            Books used in the development<br/>
            <a href="http://www.sund.ku.dk"><img src="/images/LV_SUND_lille_uk.png" width="300" alt="faculty of health sciense" class="img" align="right"/></a><br/>
        </td>
    </tr>
    <tr>
        <td>
           IDE<br/>
            <a href="http://www.jetbrains.com"><img src="/images/logo_jetbrains.gif" width="200"alt="Jetbrains" class="img"/></a><br/>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Bugtracking<br/>
            <a href="http://www.atlassian.com/c/NPOS/10160"><img src="/images/Jira_bigtracking.gif" width="468" alt="jira bugtracking" class="img" /></a><br/>
            Atlassian supports our efforts by contributing their bug tracking and issue tracking application, JIRA, to our organisation.<br/>
            <br/>
            Atlassian is an innovative Australian software company providing enterprise software solutions to the world's leading organisations. Atlassian's leading software product, JIRA is a bug tracking and issue tracking application developed to track and manage the issues and bugs that emerge during a project. JIRA customers include departments from NASA, Boeing, Cisco, JP Morgan, 3M, BP, Sony and more.<br/>
            <a href="http://www.atlassian.com/c/NPOS/10160">Try it</a> for yourself today.
        </td>
    </tr>
</table>