<p>
<h2><b>This is a very short intro, to ReCALL</b></h2>
<br />
<br />
<b>Use exsistent piles</b>
<ol>
    <li>Click on 'Search' in the menu to the right</li>
    <li>Select the desired category, or use the search function. <br /> Please note, the search is dynamic and ajax, <br /> so for each letter you type you will se result right away</li>
    <li>Select the desired pile.</li>
    <li>Click the learn icon, to learn the pile</li>
</ol>
<b>Make new pile / cards</b>
<ol>
	<li>Login, if you are not a registered user, create one</li>
    <li>Click on 'Search' in the menu to the right</li>
    <li>Select the desired category, or use the search function. <br /> Please note, the search is dynamic and ajax, <br /> so for each letter you type you will se result right away</li>
    <li>Click on the Add pile icon, to add a new pile</li>
    <li>Input relevant information, when done, press 'Create' when done, or Reset, to reset the form.</li>
	<li>Click the green "add" icon, to create cards under the pile</li>
    <li>Please note, for making pile or cards, you need to be logged in.
</ol>
<b>Signup to account</b>
Use the link, in the menu to the right
</p>