<h1>Icons</h1>
<br />
<table width="650" cellspacing="5" cellpadding="5">
	<tr>
		<td><img src="/images/buttons/Search.png" width="100" height="36" align="right" alt="search"/></td><td>Search, used to search for cards.</td>
	</tr>
	<tr>
        <td><img src="/images/buttons/Learn_icon.png" width="100" height="36" align="right" alt="learn"/></td><td>Learn, used to enter learning mode.<br/>Only found when looking at a pile.</td>
	</tr>
    <tr>
        <td><img src="/images/icons/edit.png" width="35" height="35" alt="Edit" align="right" /></td><td>Edit, used in pile and cards<br />When pressin this icons, you will edit the current pile or card</td>
    </tr>
    <tr>
        <td><img src="/images/icons/editdelete.png" width="35" height="35" alt="Destroy" align="right" /></td><td>Destroy, used in pile and cards<br />When pressing this icons, you will delete a card or pile</td>
    </tr>
    <tr>
        <td><img src="/images/icons/edit_add.png" width="35" height="35" align="right" alt="add"/></td><td>Add, used in pile and card.<br />When pressing this icons, you will add a new card or pile</td>
    </tr>
    <tr>
        <td><img src="/images/icons/back.png" width="35" height="35" alt="Previous page" align="right"/></td><td>Back, used go back, privours page, for look at last card</td>
    </tr>
    <tr>
        <td><img src="/images/icons/forward.png" width="35" height="35" alt="Next" align="right" /></td><td>Foward, used to go foward, next page, to look at next card</td>
    </tr>
    <tr>
        <th colspan="2" align="center">CSV</th>
    </tr>
    <tr>
        <td>What is CSV</td><td>CVS, stands for comma seperated value</td>
    </tr>
    <tr>
        <td>What can I use CSV to?</td><td>To easy import/export data, between ReCALL and other memory aid systems, that supports CSV import/export</td>
    </tr>
    <tr>
        <td>How do I create a CSV file?</td><td>Use any normal texteditor (not wordpad), and create a normal test file, where the values are seperated by ','</td>
    </tr>
    <tr>
        <td>CSV import</td><td>Create your CSV file to fit: head,front,back<br/> Please note, currently ReCALL dosn't support that you have a header in the file, and that you switch order of the fields.</td>
    </tr>
    <tr>
        <td>CSV export</td><td>Your pile will be exported as: 'Id','head','front', 'back','note'</td>
    </tr>
    <tr>
        <td>

        </td>
    </tr>
</table>