<table border="0" cellspacing="5" cellpadding="5" class="box">
    <tr>
        <td>2006-10-23</td><td>Start of ReCALL, known as FlashCard<br/> The first version is created by php</td>
    </tr>
    <tr>
        <td>2007-01-31</td><td>Changing form php to Ruby on Rails</td>
    </tr>
    <tr>
        <td>2007-03-18</td><td>Getting close, to an app, with login mechanism</td>
    </tr>
    <tr>
        <td>2007-04-16</td><td>Implimenting a WYSIWYG editor</td>
    </tr>
    <tr>
        <td>2007-04-31</td><td>Name change from FlashCard to ReCALL</td>
    </tr>
    <tr>
        <td>2007-05-03</td><td>Tabs are implimented</td>
    </tr>
    <tr>
        <td>Summer of 2007</td><td>ReCALL are now online for beta testing</td>
    </tr>
    <tr>
        <td>Spring of 2008</td><td>Changing hosting firm to Site5.<br/>Also updated application to RoR 2.0.2<br/>Changed to other login mechanism</td>
    </tr>
	<tr>
		<td>Summer of 2008</td><td>Updated ReCALL changes:<br/>
									* Ferret (search engine) card search<br/>
									* Import of CSV (Comma Seperated Values)<br/>
									* Export of CSV (Comma Seperated Values)<br/>
									* Updated statistics page, with a "popular" counter<br/>
									* Updated pages, so that the number of piles/cards is shown<br/>
									* Updated the page about who is supporting ReCALL<br/>
									* Update ReCALL to work with Rails 2.1.0 <br/>
        * Update ReCALL with a AJAX card creator <br/></td>
    </tr>
    <tr>
      <td>2009-02-11</td>
      <td>
        * Updated the app to Rails 2.2.2<br/>
        * Updates some AJAX errors<br/>
        * Created a drag & drop, sort options for cards in a pile<br/>
        * Layed the foundation to translate ReCALL to Danish
      </td>
    </tr>
    <tr>
      <td>2009-07-01</td>
      <td>* Removed ferret search, because of problems<br/>
      * cleaned up<br/>
      </td>
    </tr>
    <tr>
      <td>2011-02-14</td>
      <td>Updates to newest rails, did some spring cleaning, to optimise performance</td>
    </tr>
    <tr>
        <td>Future?</td><td>
							suggestions are welcome
						</td>
    </tr>

    </table>