<%= error_messages_for 'user' %>
<!--[form:user]-->
<!-- all custom fields here -->
<p><label for="user_title">Title</label><br/>
<%= text_field 'user', 'title'  %></p>

<p><label for="user_name">Name</label><br/>
<%= text_field 'user', 'name'  %></p>

<p><label for="user_email">Email Address</label><br/>
<%= text_field 'user', 'email'  %></p>
<!--[eoform:user]-->